.byline {
    display: block;
    text-align: center
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block
    }
.calibre2 {
    font-weight: bold
    }
.calibre3 {
    display: block;
    font-weight: bold;
    margin: 0
    }
.calibre4 {
    display: block;
    margin: 0 0 1em 1em
    }
.calibre5 {
    display: block;
    margin: 0 0 0 1em
    }
.calibre6 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0
    }
.calibre7 {
    display: block;
    margin: 1em 0
    }
.calibre8 {
    display: block
    }
.calibre9 {
    font-style: italic
    }
.calibre10 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre11 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre12 {
    display: table-row;
    vertical-align: inherit
    }
.calibre13 {
    font-family: monospace
    }
.calibre14 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
.calibre15 {
    line-height: 1.2
    }
.calibre16 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre17 {
    display: list-item
    }
.calibre18 {
    color: gray;
    display: block;
    height: 2px;
    margin: 0.5em auto;
    border: currentColor inset 1px
    }
.calibre19 {
    line-height: 1.2;
    text-decoration: line-through
    }
.calibre20 {
    display: table-cell;
    font-weight: bold;
    vertical-align: inherit;
    padding: 1px
    }
.calibre21 {
    display: block;
    margin: 1em
    }
.calibre22 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin: 1em 0
    }
.calibre23 {
    text-decoration: line-through
    }
.calibre24 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre25 {
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre26 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre27 {
    height: 0;
    max-width: 100%;
    width: 0
    }
.endnote-link {
    display: block;
    font-size: 0.75em
    }
.heading {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.83em 0
    }
.message {
    display: block;
    text-align: center;
    margin: 1em 0
    }
.stat {
    display: table-cell;
    text-align: inherit;
    vertical-align: inherit;
    padding: 1px
    }
.tags {
    display: block;
    margin: 1em 0;
    padding: 0;
    border: currentColor none medium
    }
.toc-heading {
    display: none;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
.userstuff {
    display: block;
    font-family: serif;
    margin: 1em;
    padding: 0
    }
.userstuff1 {
    display: block;
    font-family: serif;
    padding: 0
    }
.userstuff2 {
    display: block;
    font-family: serif;
    margin: 1em 0;
    padding: 0
    }
